<div data-role="view" title="Register" data-model="APP.models.register">
  <div data-role="header">
    <div data-role="navbar">
      <span data-role="view-title">Register</span>
      <a data-role="backbutton" data-align="left">Back</a>
    </div>
  </div>
  <ul data-role="listview">
    <li>Email <input type="email" data-bind="value: email"></li>
    <li>Password <input type="password" data-bind="value: password"></li>
    <li>
      <a data-role="button" data-bind="click: register">Register</a>
    </li>
  </ul>
  <div class="block error">
    <p data-bind="html: message"></p>
  </div>
</div>

<script src="views/register/register.js"></script>