<div data-role="view" id="login" data-model="APP.models.login" data-show="APP.login.show">
  <h1 class="center-text">KendoChat</i></h1>
  <div class="telerik-container">
    <svg class="telerik">
      <polyline points="10,65 50,25 150,125 100,175 50,125 150,25 190,65" style="fill-opacity:0;stroke:#66FF00;stroke-width:30;" />
    </svg>
  </div>
  <ul data-role="listview" data-style="inset">
    <li><input type="text" id="username" data-bind="value: username" placeholder="Username" /></li>
    <li><input type="password" id="password" data-bind="value: password" placeholder="Password" /></li>
  </ul>
  <div class="center-block">
    <a data-role="button" data-bind="click: login">Login</a>
    <a href="views/register/register.html" data-role="button" >Register</a>
  </div>
</div>
<script type="text/javascript" src="views/login/login.js"></script>