.block {
  border-radius: 4px;
  margin: 10px;
  padding: 2px;
}

.block.info {
  color: #50607f;
  border-color: #d0d9df;
  background-color: #f0f9ff;
}

.block.error {
  color: #7f5050;
  border-color: #dfd0d0;
  background-color: #fff0f0;
}

.km-drawer-button:before, .km-drawer-button:after  { content: "\E077"; }

.k-widget.k-tooltip-validation {
  color: #7f5050;
  border-color: transparent;
  background-color: #fff0f0;
  text-align: left;
  border-radius: none;
}

.k-tooltip {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#chatLog {
  padding: 10px;
}

#chatLog > li:first-child {
  padding: 0px 0px 3px 0px;
}

#chatLog > li {
  background-color: transparent;
  border-style: none;
  padding: 3px 0px 3px 0px;
}

#contactsListView > li > div > div {
  color: #AAA;
  font-size: 0.6em;
}

.message-footer {
  background-color: #eee;
  display: table;
  height: 30px;
  width: 100%;
}

.messageTextBoxContainer {
  display: table-cell;
  padding-left: 3px;
  width: 100%;
}

.message {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-width: 0;
  padding: 5px;
  width: 100%;
}

#sendButton {
  background-color: transparent;
  border-color: transparent;
  display: table-cell;
  margin: 0;
  padding: 5px;
}

.bubble-contact {
  color: #4C5356;
  margin-left: 40px;
}

.listview-photo {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float: left;
  height: 32px;
  width: 32px;
}

.bubble-from {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: white;
  position: relative;
  padding: 10px;
  margin-left: 45px;
  background: #10C4B2;
}

.bubble-from:after  {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 7px 7px 7px 0;
  border-color: transparent #10C4B2;
  display: block;
  left: -6px;
  top: 10px;
  width: 0;
  z-index: 1;
}

.iconBox {
  color: #10C4B2;
  display: flex;
  font-size: 32px;
  float: left;
}

.bubble-to {
  background: #EEE;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-right: 6px;
  padding: 10px;
  position: relative;
}

.bubble-to:after  {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 7px 0px 7px 7px;
  border-color: transparent #EEE;
  display: block;
  width: 0;
  z-index: 1;
  right: -6px;
  top: 13px;
}
