.km-flat,
.km-flat .km-navbar,
.km-flat .km-content,
.km-flat .km-group-title,
.km-flat .km-listview-link {
  font-family: "Open Sans", sans-serif;
}

.block {
  border-radius: 4px;
  margin: 10px;
  padding: 2px;
}

.block.info {
  color: #50607f;
  border-color: #d0d9df;
  background-color: #f0f9ff;
}

.block.error {
  color: #7f5050;
  border-color: #dfd0d0;
  background-color: #fff0f0;
}

.km-drawer-button:before,
.km-drawer-button:after {
  content: "\E077";
}

.k-widget.k-tooltip-validation {
  color: #7f5050;
  border-color: transparent;
  background-color: #fff0f0;
  text-align: left;
  border-radius: none;
}

.k-tooltip {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.telerik-container {
  height: 200px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
}

.center-text {
  text-align: center;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

#username,
#password {
  position: relative;
  width: 100%;
}

#username:before,
#password:before {
  position: absolute;
  top: 50%;
  right: .75em;
  display: block;
  margin-top: -.5em;
  width: 1em;
  height: 1em;
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  content: '';
}

#chatLog {
  padding: 10px;
}

#chatLog > li:first-child {
  padding: 0px 0px 3px 0px;
}

#chatLog > li {
  background-color: transparent;
  border-style: none;
  padding: 3px 0px 3px 0px;
}

#contactsListView > li > div > div {
  color: #AAA;
  font-size: 0.6em;
}

.message-footer {
  background-color: #eee;
  display: table;
  height: 34px;
  width: 100%;
}

.messageTextBoxContainer {
  display: table-cell;
  margin: 0;
  vertical-align: middle;
  width: 100%;
}

.message {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border-width: 0;
  display: table-cell;
  height: 100%;
  padding: 5px;
  width: 100%;
}

.message-button-container {
  vertical-align: middle;
}

.message-button {
  background-color: transparent;
  border-color: transparent;
  display: table-cell;
  padding: 5px 0px 5px 0px;
  margin: 0px 5px 0px 5px;
  vertical-align: middle;
}

.bubble-contact {
  color: #4C5356;
  margin-left: 40px;
}

.listview-photo {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float: left;
  height: 32px;
  width: 32px;
}

.chat-display-name {
  color: #10C4B2;
  font-size: 0.7em;
  font-weight: bold;
  margin-left: 45px;
}

.bubble-from {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: white;
  position: relative;
  padding: 10px;
  margin-left: 45px;
  background: #10C4B2;
}

.bubble-from:after  {
  border-color: transparent #10C4B2;
  border-style: solid;
  border-width: 7px 7px 7px 0;
  content: '';
  display: block;
  left: -6px;
  position: absolute;
  top: 10px;
  width: 0;
  z-index: 1;
}

.iconBox {
  color: #10C4B2;
  display: flex;
  font-size: 32px;
  float: left;
}

.bubble-to {
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  text-align: right;
}

.km-list > .active:before {
  border-color: transparent #10C4B2;
  border-style: solid;
  border-width: 3px;
  background-color: #10C4B2;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
}